#menu-tabs {
    width: 1420px;
    border: 0px;
    margin: auto;
}

.ui-dialog .ui-dialog-titlebar button.ui-button:focus,
.ui-dialog .ui-dialog-titlebar button.ui-button.ui-state-focus,
.ui-dialog .ui-dialog-titlebar button.ui-button.ui-state-active,
.ui-dialog .ui-dialog-titlebar button.ui-button.ui-state-hover  {
    outline:none;
}

.ui-container {
    padding: 2%;
}

.ui-tabs .ui-tabs-nav {
    margin: 0px;
    padding: 0px;
}

#ss-merge-tab-container {
    width: 1420px;
    height: 1024px;
    margin: 0px;
    padding: 0px;
    background: black;
}

#ss-merge-tab-left-panel {
    border: 0px;
    position: absolute;
    margin-left: -3px;
    margin-top: -4px;
    width: 400px;
    height: 1024px;
    float:left;
}

#ss-merge-tab-right-panel {
    background: black;
    position: absolute;
    width: 1024px;
    height: 1024px;
    left: 400px;
    float: left;
    margin-top: -3px;
    overflow: hidden;
}

#ss-merge-drop-zone {
    border: 2px dashed;
    margin: 5px;
    min-width: 80px;
    min-height: 80px; 
    border-color: white;
    font-family: Segoe UI,Arial,sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: lightgray;
    padding: 10px;
}

#ss-animation-tab {
    height: 1024px;
    margin: auto;
    width: 1424px;
    padding: 0px;
}

#ui-ss-animation-left {
    position: absolute;
    width: 400px;
    height: 768px;
    float: left;
}

#ui-ss-animation-center {
    position: absolute;
    width: 1024px;
    height: 768px;
    left: 400px;
    float: left;
    margin-left: 4px;
}

#frame-size {
    padding: 20px;
    margin: 5px;
    text-align: center;
}

#frame-settings-frame-align-label {
    margin-top: 25px;
    margin-right: 20px;
}

#frame-settings-frame-proportional-label {
    margin-top: 25px;
    margin-left: 20px;
}

#frame-height-slider {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
    border: 0px;
    background: #336633;
}

#frame-height-slider span {
    border: 0px;
    background: #66CC33;
}

#frame-height-value {
    background: black;
    font: italic bold 10px Georgia, serif;
    color: #66CC33;
    border: 0;
    margin-top: 30px;
    text-align: right;
    font-size: 12px !important;
}

#images-container {
    color: #66CC33;
    font: italic bold 16px Georgia, serif;
    border: 2px dashed #336633;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#images-list { 
    list-style-type: none; 
    max-height: 280px;
    overflow: auto;
}

#images-list li {
    background: black;
    border: 2px dashed #336633;
    height: 128px;
    margin-left: -35px;
    margin-right: 5px;
    margin-top: 5px;
}

#images-list li span { 
    position: absolute; 
}



#ss-merge-save-zone {
    border: 2px dashed;
    margin: 5px;
    min-width: 80px;
    min-height: 40px; 
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
    text-align: center;
    padding-top: 40px;
}

#ss-merge-save-button {
    background: black;
    border: 2px solid;
    min-width: 120px;
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
    text-align: center;
}

#images-list-cell-image {
    width: 120px;
    height: 120px;
}

#image-index {
    font: italic bold 10px Georgia, serif;
    color: #66CC33;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 130px;
    text-align: left;
}

#frame-settings-frame-align {
    font-size: 14px;
}

#frame-settings-frame-resize {
    font-size: 14px;
}

#delete-image-button {
    background: black;
    margin-top: 5px;
    margin-left: 135px;
    border: 2px solid #336633;
    min-width: 80px;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
}
