#menu-tabs {
    background: black;
    width: 1420px;
    height: 812px;
    margin: auto;
}

.ui-widget-header
{
    background: black;
    border-top: 0px;
    border-bottom: 6px solid #336633;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

.ui-layout-resizer {
    background: #336633;
}

.ui-state-default a:link {
    color: darkgray;
    font: italic bold 16px Georgia, serif;
}

.ui-state-active a:link {
    color: #66CC33;
    font: italic bold 16px Georgia, serif;
}

.ui-state-hover a:link {
    color: #66CC33;
    font: italic bold 16px Georgia, serif;
}

#tabs-list li {
    background: black;
}

#tabs-list li .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 2px dashed;
    border-color: #336633;
    border-radius: 0px;
}

#tabs-list li .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 2px solid;
    border-color: #336633;
    border-radius: 0px;
}

#ss-merge-tab {
    background: black;
    height: 1024px;
    margin: auto;
    width: 1424px;
    padding: 0px;
}

#ui-ss-merge-left {
    position: absolute;
    background-color: black;
    width: 400px;
    height: 768px;
    float:left;
}

#ui-ss-merge-center {
    position: absolute;
    background-color: black;
    width: 1024px;
    height: 768px;
    left: 400px;
    float: left;
    margin-left: 4px;
}

#ss-animation-tab {
    background: black;
    height: 1024px;
    margin: auto;
    width: 1424px;
    padding: 0px;
}

#ui-ss-animation-left {
    position: absolute;
    background-color: black;
    width: 400px;
    height: 768px;
    float: left;
}

#ui-ss-animation-center {
    position: absolute;
    background-color: black;
    width: 1024px;
    height: 768px;
    left: 400px;
    float: left;
    margin-left: 4px;
}

#frame-size {
    color: #66CC33;
    font: italic bold 16px Georgia, serif;
    border: 2px dashed;
    border-color: #336633;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

#frame-width-slider {
    margin: 15px;
    text-align: right;
    border: 0px;
    background: #336633;
}

#frame-width-slider span {
    border: 0px;
    background: #66CC33;
}

#frame-width-value {
    background: black;
    font: italic bold 10px Georgia, serif;
    color: #66CC33;
    border: 0;
    margin-top: 30px;
    text-align: right;
    font-size: 12px !important;
}

#frame-height-slider {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
    border: 0px;
    background: #336633;
}

#frame-height-slider span {
    border: 0px;
    background: #66CC33;
}

#frame-height-value {
    background: black;
    font: italic bold 10px Georgia, serif;
    color: #66CC33;
    border: 0;
    margin-top: 30px;
    text-align: right;
    font-size: 12px !important;
}

#images-container {
    color: #66CC33;
    font: italic bold 16px Georgia, serif;
    border: 2px dashed;
    border-color: #336633;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

#images-list { 
    list-style-type: none; 
    margin-top: 5px; 
    width: 90%;
    max-height: 275px;
    overflow: auto;
}

#images-list li {
    background: black;
    border: 2px dashed;
    border-color: #336633;
    font-size: 1.4em;
    height: 128px;
    margin-left: -35px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#images-list li span { 
    position: absolute; 
}

#drop-zone {
    border: 2px dashed;
    margin: 5px;
	min-width: 80px;
	min-height: 80px; 
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
    text-align: center;
    padding-top: 40px;
}

#ss-merge-save-zone {
    border: 2px dashed;
    margin: 5px;
    min-width: 80px;
    min-height: 40px; 
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
    text-align: center;
    padding-top: 40px;
}

#ss-merge-save-button {
    background: black;
    border: 2px solid;
    min-width: 120px;
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
    text-align: center;
}

#images-list-cell-image {
    width: 120px;
    height: 120px;
    margin-left: 4px;
    margin-top: 4px;
}

#image-index {
    font: italic bold 10px Georgia, serif;
    color: #66CC33;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 130px;
    text-align: left;
}

#delete-image-button {
    background: black;
    margin-top: 10px;
    margin-left: 90px;
    border: 2px solid;
    min-width: 80px;
    border-color: #336633;
    font: italic bold 16px Georgia, serif;
    color: #66CC33;
}
